@import url(style.css);

#calendar {
	display: flex;
	flex-flow: column;
	align-items: center;
  color: white;
}

#calendar ul {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
	flex-wrap: wrap;
	list-style: none;
  width: 96%;
  height: 600px;

	li {
		display: flex;
    width: 100%;
    height: 100%;
    padding: var(--cornerRadius);
		flex-flow: column;
		border-radius: var(--cornerRadius);
		font-weight: 300;
		font-size: 0.8rem;
		box-sizing: border-box;
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);

		time {
			font-size: 1.2rem;
			margin: 0 0 1rem 0;
			font-weight: 200;
      color: var(--pGold);
		}
	}
	.today {
		time {
			font-weight: 800;
		}
    border-color: var(--pGold);
	}
}

#calendar li .task {
  position: relative;
  color: white;
  width: 1fr;
}

