@import "/css/style.css";


#day {
    --space: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: repeat(52, 18px);
    grid-template-columns: 25% 1fr;
    padding: var(--space);
    width: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    border-radius: var(--corner-radius);
    backdrop-filter: blur(5px);

    .task, .starting-time {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        border: 2px solid black;
        border-radius: var(--corner-radius);
        transition: transform 0.3s ease-in-out;
    }
    .inactive-task {
        background-color: rgba(128, 128, 128, 0.7);
    }
    .starting-time {
        background-color: rgba(255, 255, 255, 0.7);
        border: 2px solid black;
        border-radius: var(--corner-radius);
    }
    .task:hover {
        cursor: pointer;
        transform: scaleX(1.1);
    }

}

#day-progression {
    position: absolute;
    height: 30px;
    border: none;
    border-radius: var(--corner-radius);
    width: 100%;
    left: 0;
    background: linear-gradient(to top, red, transparent);
    z-index: 2;
}

#task-card {
    position: absolute;
    left: 15%;
    top: 55%;
    height: 200px;
    width: 360px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid black;
    border-radius: var(--corner-radius);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 1fr 1fr;
    place-items: center;

    .header-input {
        justify-content: center;
        text-align: center;
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    .time-input:first-child {
        grid-column: 1;
        grid-row: 2;
    }
    .time-input:last-child {
        grid-column: 2;
        grid-row: 2;
    }
    button {
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5px;
        border-width: 0;
        cursor: pointer;
        padding-left: 16px;
        padding-right: 16px;
        text-transform: uppercase;
        font-size: medium;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    }
    button:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }
    button:first-child {
        grid-column: 1;
        grid-row: 3;
    }
    button:last-child {
        grid-column: 2;
        grid-row: 3;
    }
    input[type="text"] {
        border: none;
        padding: 5px;
        background-color: transparent;
        font-weight: bold;
        font-size: large;
        text-align: center;
    }
    input[type="text"]::placeholder {
        color: black;
    }
    input[type="text"]:focus::placeholder {
        color: gray;
    }
    input[type="time"] {
        border: none;
        border-top-left-radius: var(--corner-radius);
        border-top-right-radius: var(--corner-radius);
        border-bottom: 4px solid red;
        padding: 5px;
        background-color: transparent;
    }
}


/*** CLOCK ***/

#clock-wrapper {
    position: absolute;
    left: 15%;
    top: 35%;
    height: 100px;
    width: 360px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, white, red, white);
}

#clock-wrapper::before {
    content: attr(today-date);
    position: absolute;
    top: -50%; 
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;
    font-weight: bold;
    color: white;
}

#clock-wrapper #clock-display,
#clock-wrapper span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clock-wrapper #clock-display {
    height: 85px;
    width: 345px;
    background-color: transparent;
    border-radius: 6px;
    text-align: center;
}

#clock-display #clock {
    line-height: 85px;
    color: white;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
    background: linear-gradient(90deg, white, red, white);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

