@font-face {
    font-family: 'CallOf';
    src: url('/fonts/CallOfOpsDuty.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.menu-container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.panel {
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
    transition: transform 0.3s ease;

    .headers {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        font-family: 'CallOf', sans-serif;
        z-index: 2;

        h1 {
            position: relative;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: end;
        }
        p {
            padding: 0;
            margin: 0;
            font-size: 15rem;
            text-align: end;
        }
    }

}
.panel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
    transition: height 0.3s ease;
}

.panel:hover:before {
    height: 100%;
}
.panel:hover .headers {
    filter: invert(100%);
}


#bucket-panel {
    background-image: url('/images/wallpapers/glacier.jpeg');
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
}
#intelligence-panel {
    background-image: url('/images/wallpapers/intelligence.jpg');
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
}
#health-panel {
    background-image: url('/images/wallpapers/health.webp');
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
#legal-panel {
    background-image: url('/images/wallpapers/legal.jpeg');
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
