@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --corner-radius: 10px;
    --blue: #08385178; 
    --dark-blue: #083851bd; 
    --gold: #e8c998;
    --black: black;
    --font-color: #92e8e3;
    --transparent-highlight: #92e8e47e;
    --white-transparent: rgba(255, 255, 255, 0.7);
}

html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-variation-settings "wdth" 100;
}

body::before {
    --blur: blur(5px);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: var(--blur);
}

#pyramid::before {
    background-image: url("../images/wallpapers/pyramid.png");
    background-size: cover;
}

/* HOME BUTTON */

.home-button {
    --side-length: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
    width: var(--side-length);
    height: var(--side-length);
    background-image: url('../images/home.gif');
    background-size: cover;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
    a {
        display: block;
        height: 100%;
        width: 100%;
    }
}
.home-button:hover {
    transform: scale(1.2);
}

/* BACKGROUND IMAGE */

.background-image {
    --blur: blur(5px);
    filter: var(--blur);
    -webkit-filter: var(--blur);
    height: 100%;
    width: 100%;
}

#pyramid-background {
    background: url("../images/wallpapers/pyramid.png") no-repeat center center fixed;
    background-size: cover;
}

#chronos-background {
    background: url('../images/wallpapers/hourglass.jpg') no-repeat 20% center fixed;
}

.hidden {
    display: none;
}

.reveal {
    display: visible;
}

.blurred {
    filter: blur(10px);
    pointer-events: none;
}

/* ANIMATIONS */

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
}
