.task-page {
    display: flex;
    width: 40%;
    height: 100%;
    position: absolute;
    border: 2px solid green;
    right: -40%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: right 1s ease;
    backdrop-filter: blur(15px);
}

.active {
    right: 0;
}

.task-page form {
    width: 90%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-shrink: 0;
    .task-title {
        margin-bottom: 30px;
        input {
            width: 100%;
            height: 3rem;
            font-size: 2rem;
            font-weight: bold;
            background: none;
            border: none;
        }
        input::placeholder {
            font-size: 4rem;
            font-weight: bold;
        }
    }
    .task-description {
        textarea {
            width: 100%;
            height: 10rem;
            border-radius: 5px;
            background: none;
            border: 1px solid black;
            border-radius: 15px;
            padding: 15px;
        }
    }
    .task-tier, .task-priority {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* width: 15%; */
        gap: 10px;
        position: relative;
        border-bottom: 1px solid black;
        input {
            position: relative;
            background: none;
            cursor: pointer;
            width: 100%;
            padding: 10px;
            border: none;
            -moz-appearance: textfield;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    }
    .task-tier:focus-within .dropdown-tier {
        display: block;
    }
    .task-priority:focus-within .dropdown-tier {
        display: block;
    }

    .dropdown-wrapper {
        position: relative;
        width: 100%;
    }


    .dropdown-tier {
        position: absolute;
        bottom: 100%;
        width: 100%;
        left: 0;
        right: 0;
        border: 1px solid black;
        border-top: none;
        z-index: 100;
        display: none;
        .dropdown-option {
            padding: 10px;
            cursor: pointer;
            background-color: white;
        }
        .dropdown-option:hover {
            background-color: gray;
        }
    }

    .chevron {
        position: absolute;
        right: 10px;
        pointer-events: none;
        top: 0;
        transform: translateY(50%);
        transition: transform 0.3s ease;
        i {
            transition: transform 0.3s ease;
        }
    }
    .rotate-down {
        transform: rotate(180deg);
    }
}

.task-page {
    .task-deadline {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        position: relative;
        border-bottom: 1px solid black;
        input[type="date"] {
            padding: 10px;
            width: 80%;
            background: none;
            border: none;
        }
    }
}

.task-page {
    .task-parent {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        position: relative;
        border-bottom: 1px solid black;
        input[type="text"] {
            background: none;
            border: none;
            width: 100%;
            padding: 10px;
        }
        span {
            position: absolute;
            right: 10px;
            pointer-events: none;
            top: 0;
            transform: translateY(50%);
            transition: transform 0.3s ease;
            i {
                transition: transform 0.3s ease;
            }
        }
        ul {
            position: absolute;
            bottom: 100%;
            background: white;
            border-radius: 10px;
            padding: 0;
            margin: 0;
            width: 100%;
            li {
                list-style-type : none;
                padding: 10px;
                border-top: 1px solid gray;
            }
            li:first-child {
                border: 0;
            }
            li:hover {
                background: gray;
            }
        }
        
    }
}

.task-page {
    button {
      padding: 1.3em 3em;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #000;
      background-color: #fff;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
    }

    button:hover {
      background-color: #23c483;
      box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
      color: #fff;
      transform: translateY(-7px);
    }

    button:active {
      transform: translateY(-1px);
    }


}
