<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health</title>
        <link rel="icon" type="image/x-icon" href="/images/icons/pyramid.ico">
        <link rel="stylesheet" type="text/css" href="/css/template.css">
        <link rel="stylesheet" type="text/css" href="/css/task_page.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script type="text/javascript" src="/js/task.js"></script>
        <script type="text/javascript" src="/js/task-page.js"></script>
    </head>

    <body>

        <div class="menu-bar">
            <div class="directions">
                <a href="/">home</a>
                <a href="">intelligence</a>
                <a href="">health</a>
                <a href="">legal</a>
            </div>
            <button type="button" onclick="toggleTaskSpace()">Add a new task</button>
        </div>

        <div class="template-layout">

            <div class="top-left-zone">
                <a href="#"><img src="/images/icons/calendar.png" alt="calendar icon"></a>
            </div>
            <div class="top-middle-zone">
                <progress value="16" max="100"></progress>
                <progress value="92" max="100"></progress>
            </div>
            <div class="top-right-zone">
                <div class="alert">
                    <button type="button"><img src="/images/icons/cancel.png" alt=""></button>
                    <h4>Task title</h4>
                    <span>Due in : 23h59</span>
                </div>
                <div class="alert">
                    <button type="button"><img src="/images/icons/cancel.png" alt=""></button>
                    <h4>Task title</h4>
                    <span>Due in : 5m34s</span>
                </div>
            </div>
            <div class="bottom-zone">
                <div class="tier"></div>
                <div class="tier"></div>
                <div class="tier"></div>
                <div class="tier"></div>
            </div>


            <script>
                const allTasks = <%-JSON.stringify(healthTasks)%>;
                const category = new Category(allTasks);
            </script>


            <div class="task-page">

                <form method="POST" action="/health/save">
                    <div style="display: none;">
                        <label for="form-id"></label>
                        <input type="text" id="form-id" name="form-id">
                    </div>
                    <div class="task-title">
                        <label for="form-title"></label>
                        <input type="text" id="form-title" name="form-title" placeholder="Title">
                    </div>
                    <div class="task-description">
                        <textarea id="form-description" name="form-description" placeholder="Description..."></textarea>
                    </div>
                    <div class="task-tier">
                        <label for="form-tier">Tier: </label>
                        <input type="number" id="form-tier" name="form-tier" value=4 min=0 max=4>
                    </div>
                    <div class="task-priority">
                        <label for="form-priority">Priority: </label>
                        <input type="text" id="form-priority" name="form-priority" value='low'>
                    </div>
                    <div class="task-deadline">
                        <label for="form-deadline">Expires on: </label>
                        <input type="date" id="form-deadline" name="form-deadline">
                    </div>
                    <div class="task-parent">
                        <label for="form-parent">Parent:</label>
                        <input type="text" id="form-parent" name="form-parent" placeholder="Add a parent here...">
                        <ul class="parent-list"></ul>
                    </div>

                    <div>
                        <button type="submit">Save</button>
                        <button type="button" onclick="toggleTaskSpace()">Cancel</button>
                    </div>

                    <script>
                        let sortedTasksTitles = allTasks.map(task => task.title).sort();

                        let input = document.getElementById("form-parent");
                        input.addEventListener("keyup", () => {
                            autoSuggest(input, sortedTasksTitles);
                        });
                        function displayNames(value) {
                            input.value = value;
                        }
                    </script>

                </form>
                
            </div>
            
        </div>



    </body>

</html>

