<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="icon" type="image/x-icon" href="/images/icons/pyramid.ico">
        <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>

    <body>

        <div class="menu-container">

            <a class="panel" id="intelligence-panel" href="/intelligence">
                <div class="headers">
                    <h1>Intelligence</h1>
                    <p>01</p>
                </div>
            </a>
            <a class="panel" id="health-panel" href="/health">
                <div class="headers">
                    <h1>Health</h1>
                    <p>02</p>
                </div>
            </a>
            <a class="panel" id="legal-panel" href="/legal">
                <div class="headers">
                    <h1>Legal</h1>
                    <p>03</p>
                </div>
            </a>

        </div>

    </body>

</html>

