<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyramid interface</title>
    <link rel="icon" type="image/x-icon" href="/images/pyramid.ico">
    <script type="text/javascript" src="/js/displayTasks.js"></script>
</head>
<body>
    <h1 id="tasks-overview">Tasks</h1>

    <script>
        const tasks = <%- JSON.stringify(tasks)%>;
        window.onload = displayTaskPerTiers(tasks, 4);
        window.onload = displayTaskPerTiers(tasks, 3);
        window.onload = displayTaskPerTiers(tasks, 2);
        window.onload = displayTaskPerTiers(tasks, 1);
        window.onload = displayTaskPerTiers(tasks, 0);
    </script>

    <form action="/tasks/new" method="GET">
        <button name="add">Add task</button>
    </form>

</body>
</html>

