<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Template</title>
        <link rel="icon" type="image/x-icon" href="/images/pyramid.ico">
        <link rel="stylesheet" type="text/css" href="/css/template.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script type="text/javascript" src="/js/template.js"></script>
    </head>

    <body>

        <div class="template-layout">

            <div class="calendar-zone">
                <a href="#"><img src="" alt="calendar icon"></a>
            </div>
            <div class="stats-zone">
                <progress value="16" max="100"></progress>
                <progress value="92" max="100"></progress>
            </div>
            <div class="top-middle-zone">
                <h1>Add a new task ➜</h1>
            </div>
            <div class="home-button-zone">
                <a href="pyramid/"><img src="" alt="pyramid icon"></a>
            </div>
            <div class="bottom-zone">
                <div class="tier">
                </div>
                <div class="tier">
                </div>
            </div>
            
        </div>


    </body>

</html>

