<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/images/icons/pyramid.ico">
        <link rel="stylesheet" type="text/css" href="/css/template.css">
        <link rel="stylesheet" type="text/css" href="/css/task_page.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="https://kit.fontawesome.com/4d02573ada.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/js/task.js"></script>
        <script type="text/javascript" src="/js/task-page.js"></script>
        <script>
            const title = <%-JSON.stringify(data.category)%>;
            document.title = title;
            document.addEventListener('DOMContentLoaded', function () {
                document.body.id = title;
                document.body.classList.add(title+'-palette');
            });
        </script>
            
    </head>

    <body>

        <div class="menu-bar">
            <div class="directions">
                <a href="/">home</a>
                <a href="/intelligence">intelligence</a>
                <a href="/health">health</a>
                <a href="/legal">legal</a>
            </div>
            <button type="button" onclick="toggleTaskSpace()">Add a new task</button>
        </div>


        <div class="template-layout">

            <div class="top-left-zone">
                <!-- <a href="#"><img src="/images/icons/calendar.png" alt="calendar icon"></a> -->
            </div>
            <div class="top-middle-zone">
                <!-- <progress value="16" max="100"></progress> -->
                <!-- <progress value="92" max="100"></progress> -->
            </div>
            <div class="top-right-zone">
            </div>
            <div class="bottom-zone">
                <div class="tier"></div>
                <div class="tier"></div>
                <div class="tier"></div>
                <div class="tier"></div>
            </div>


            <script>
                const allTasks = <%-JSON.stringify(data.tasks)%>;
                const category = new Category(allTasks);
                const alerts = new Alerts(allTasks);
            </script>

            <div class="task-page">

                <form method="POST">
                    <div style="display: none;">
                        <label for="form-id"></label>
                        <input type="text" id="form-id" name="form-id">
                    </div>
                    <div class="task-title">
                        <label for="form-title"></label>
                        <input type="text" id="form-title" name="form-title" placeholder="Title">
                    </div>
                    <div class="task-description">
                        <textarea id="form-description" name="form-description" placeholder="Description..."></textarea>
                    </div>
                    <div class="task-tier">
                        <label for="form-tier">Tier: </label>
                        <div class="dropdown-wrapper">
                            <input type="number" id="form-tier" name="form-tier" value=2 min=0 max=5>
                            <span class="chevron"> <i class="fas fa-chevron-up fa-xs"></i> </span>
                            <div class="dropdown-tier">
                                <div class="dropdown-option" onmousedown="setTier(2)">2</div>
                                <div class="dropdown-option" onmousedown="setTier(3)">3</div>
                                <div class="dropdown-option" onmousedown="setTier(4)">4</div>
                                <div class="dropdown-option" onmousedown="setTier(5)">5</div>
                            </div>
                        </div>
                    </div>
                    <div class="task-priority">
                        <label for="form-priority">Priority: </label>
                        <div class="dropdown-wrapper">
                            <input type="text" id="form-priority" name="form-priority" value='low'>
                            <span class="chevron"> <i class="fas fa-chevron-up fa-xs"></i> </span>
                            <div class="dropdown-tier">
                                <div class="dropdown-option" onmousedown="setPriority('low')">low</div>
                                <div class="dropdown-option" onmousedown="setPriority('medium')">medium</div>
                                <div class="dropdown-option" onmousedown="setPriority('high')">high</div>
                            </div>
                        </div>
                    </div>
                    <div class="task-deadline">
                        <label for="form-deadline">Expires on: </label>
                        <input type="date" id="form-deadline" name="form-deadline">
                    </div>
                    <div class="task-parent">
                        <label for="form-parent">Parent:</label>
                        <div class="dropdown-wrapper">
                            <input type="text" id="form-parent" name="form-parent" placeholder="Add a parent here...">
                            <span><i class="fa-solid fa-magnifying-glass"></i></span>
                            <ul class="parent-list"></ul>
                        </div>
                    </div>

                    <div>
                        <button type="submit">Save</button>
                        <button type="button" onclick="toggleTaskSpace()">Cancel</button>
                    </div>


                    <script>
                    let sortedTasksTitles = allTasks.filter(task => !task.isCompleted).map(task => task.title).sort();

                        let input = document.getElementById("form-parent");
                        input.addEventListener("keyup", () => {
                            autoSuggest(input, sortedTasksTitles);
                        });
                        function displayNames(value) {
                            input.value = value;
                        }
                        const tier_input = document.querySelector('#form-tier');
                        const priority_input = document.querySelector('#form-priority');
                        const icon = document.querySelector('.chevron i');

                        tier_input.addEventListener('focus', () => {
                            const icon = document.querySelector('.task-tier > .dropdown-wrapper > .chevron i');
                            icon.classList.add('rotate-down');
                        });
                        tier_input.addEventListener('blur', () => {
                            const icon = document.querySelector('.task-tier > .dropdown-wrapper > .chevron i');
                            icon.classList.remove('rotate-down');
                        });
                        priority_input .addEventListener('focus', () => {
                            const icon = document.querySelector('.task-priority > .dropdown-wrapper > .chevron i');
                            icon.classList.add('rotate-down');
                        });
                        priority_input.addEventListener('blur', () => {
                            const icon = document.querySelector('.task-priority > .dropdown-wrapper > .chevron i');
                            icon.classList.remove('rotate-down');
                        });
                    </script>

                </form>
                <script>
                    document.querySelector('form').action = title + "/save";
                </script>
                
            </div>
                
            
        </div>



    </body>

</html>

